@font-face {
    font-family: carme;
    src: url(~@/assets/font/carme/Carme-Regular.ttf);
}

@font-face {
    font-family: vibes;
    src: url(~@/assets/font/greatvibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: ruhl;
    src: url(~@/assets/font/FrankRuhlLibre/FrankRuhlLibre-Regular.ttf);
}

@font-face {
    font-family: bungee;
    src: url(~@/assets/font/bungee/Bungee-Regular.ttf);
}

@font-face {
    font-family: arbutus;
    src: url(~@/assets/font/Arbutus/ArbutusSlab-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(~@/assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: athiti;
    src: url(~@/assets/font/Athiti/Athiti-Regular.ttf);
}

// @font-face {
//     font-family: vibes;
//     src: url(~@/assets/font/Vibes/GreatVibes-Regular.ttf);
// }