@font-face {
    font-family: carme;
    src: url(~@/assets/font/carme/Carme-Regular.ttf);
}

@font-face {
    font-family: vibes;
    src: url(~@/assets/font/greatvibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: ruhl;
    src: url(~@/assets/font/FrankRuhlLibre/FrankRuhlLibre-Regular.ttf);
}