.editor-container {
    .user-controls {
        background: #2e4ead;
        position: sticky;
        height: 48px;
        width: 100%;
        border-left: 1px solid #e6e9ec;
        top: 0;
        z-index: 1002;
        button {
            background: #0076df;
            padding: 0.5rem;
            margin-inline-start: 5px;
            font-size: 1.2rem;
            font-family: carme;
            color: white;
        }
    }
    .smooth-dnd-draggable-wrapper {
        cursor: grab;
    }
    .editor-workspace {
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 2px 4px 6px rgba(34, 32, 32, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2e4ead95;
        }
        .smooth-dnd-container {
            position: relative;
            min-height: 770px;
            min-width: 100%;
        }
        margin-inline-start: 20rem;
        padding: 1rem;
        transition: .5s ease;
        overflow-y: auto;
        &.empty-workspace {
            margin: 1rem 1rem 1rem 21rem;
            background-color: #2e4ead25;
            border: 4px dashed #22222260;
            text-align: center;
            justify-content: center;
            position: relative;
            &:before {
                content: 'Drag an element here';
                font-size: 56px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        section {
            position: relative;
            &:hover {
                .controls {
                    transition: opacity .5s ease;
                    opacity: 1;
                    z-index: 1001;
                }
            }
        }
        .drop-preview {
            background-color: #2e4ead25;
            border: 2px dashed #22222260;
            text-align: center;
            justify-content: center;
            &:after {
                content: 'Place Section Here';
                font-size: 65px;
                padding: 1.5rem;
            }
        }
    }
    .editor-dashboard {
        background-color: #e6e9ec;
        position: fixed;
        min-height: 100vh;
        width: 20rem;
        z-index: 1003;
        transition: all .3s ease-in-out;
        .tab-container {
            font-family: carme;
            width: 100%;
            button {
                background: transparent;
                width: 50%;
                text-transform: uppercase;
                padding: 1rem;
                &.selected {
                    background: #2e4ead;
                    color: white;
                }
            }
        }
        .toggle-dashboard {
            position: absolute;
            right: -10px;
            top: 50%;
        }
        .editor-body {
            max-height: 900px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 0.5rem;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 2px 4px 6px rgba(34, 32, 32, 0.5);
            }
            &::-webkit-scrollbar-thumb {
                background-color: #42579595;
            }
            .align-controls,
            .decoration-controls {
                margin: 0 auto;
                width: 160px;
                color: #2f2f2f;
            }
            // Custum range from Element Ui
            .el-slider__bar {
                background-color: #0655ff;
            }
            .el-slider__button {
                border: 4px solid #0d3c6b;
            }
            .el-slider__runway {
                background-color: #94a3c393;
            }
            .custom-range {
                width: 90%;
                color: purple;
            }
            input {
                margin: 0.5rem;
                padding: 0.5rem;
            }
            .section-editor {
                .input-file {
                    display: flex;
                    justify-content: center;
                    font-size: 38px;
                    cursor: pointer;
                    input {
                        display: none;
                    }
                }
            }
            .sample-preview {
                background: gainsboro;
                position: relative;
                margin: 1rem;
                border-radius: 5px;
                font-size: 1.2rem;
                text-align: center;
                box-shadow: 0 0 4px black;
                img {
                    width: 100%;
                    object-fit: cover
                }
                h3 {
                    padding: 0.25rem;
                    text-transform: capitalize;
                }
            }
        }
        .editor-message {
            background-color: #2e4ead22;
            border-radius: 1rem;
            padding: 2rem;
            margin: 1rem;
            font-size: 2rem;
            text-align: center;
        }
        .editor-name {
            padding: 1rem;
            text-transform: capitalize;
            font-size: 1.25rem;
        }
    }
    &.hide-editor {
        .editor-dashboard {
            transform: translateX(-95%);
        }
        .editor-workspace {
            margin: 0;
        }
    }
}

// Drag and Drop class 
.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(2deg) scale(0.9);
}

.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0) scale(1);
}