.editor-container {
    &.hide-editor {
        .editor-dashboard {
            transform: translateX(-95%);
        }
    }
}

.custom-select {
    width: 70%;
}

.editor-dashboard {
    position: fixed;
    min-height: 100vh;
    background-color: #e6e9ec;
    overflow-y: auto;
    width: 20rem;
    transition: all .3s ease-in-out;
    z-index: 1003;
    .editor-body {
        max-height: 1000px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 2px 4px 6px rgba(34, 32, 32, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #42579595;
        }
    }
    .editor-message {
        background-color: #2e4ead22;
        border-radius: 1rem;
        padding: 2rem;
        margin: 1rem;
        font-size: 2rem;
        text-align: center;
    }
    .editor-name {
        padding: 1rem;
        text-transform: capitalize;
        font-size: 1.25rem;
    }
}

.toggle-dashboard {
    position: absolute;
    right: -10px;
    top: 50%;
}

.editor-workspace {
    margin-inline-start: 20rem;
    transition: .5s ease;
    padding: 1rem;
    section {
        position: relative;
        &:hover {
            .controls {
                transition: opacity .5s ease;
                opacity: 1;
            }
        }
    }
}

//add controls above imgs
.controls {
    z-index: 1001;
}

.drop-preview {
    background-color: #2e4ead25;
    border: 2px dashed #22222260;
    text-align: center;
    justify-content: center;
    &:after {
        content: 'Place Section Here';
        font-size: 65px;
        padding: 1.5rem;
    }
}

.editor-workspace {
    // margin: 0;
    min-height: 850px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 2px 4px 6px rgba(34, 32, 32, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: #2e4ead95;
    }
    &.empty-workspace {
        background-color: #2e4ead25;
        border: 4px dashed #22222260;
        text-align: center;
        justify-content: center;
        position: relative;
        &:before {
            content: 'Drag an element here';
            font-size: 56px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .smooth-dnd-container {
        position: relative;
        min-height: 770px;
        min-width: 100%;
        box-shadow: 0px 0px 4px #00000054
    }
}