.content-wrapper {
    position: relative;
    .main-hero {
        position: relative;
        margin-block-end: 1rem;
    }
    .hero-screen {
        background-color: rgba(9, 9, 9, 0.26);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .hero-btn {
        background-color: #5ac7f9;
        padding: 0.75rem;
        font-family: carme;
        bottom: 0;
        left: 50%;
        color: white;
        font-size: 1.5rem;
        transition: .33s;
    }
    h1 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-shadow: 0px -1px 1px black;
        font-size: 2.5rem;
        color: #5ac7f9;
    }
    .home-card {
        margin: 2rem 0;
        text-align: center;
        .home-btn {
            background-color: #5ac7f9;
            padding: 0.75rem;
            margin: 2rem 1rem;
            max-width: 50%;
            color: white;
            font-weight: bold;
            width: 50%;
        }
        .logo-name {
            color: #5ac7f9;
        }
        .home-tag {
            background-color: rgba(60, 177, 255, 0.164);
            margin: 1rem 0;
            padding: 1rem;
            text-align: center;
            font-size: 25px;
            font-family: 'carme';
            color: black;
        }
    }
}

@media (min-width:830px) {
    .content-wrapper {
        .main-hero {
            max-height: 75vh;
            flex-direction: row;
            .hero-btn {
                position: absolute;
                font-size: 2rem;
                transform: translate(-50%);
            }
        }
        .home-btn {
            font-size: 1.2rem;
        }
        h1 {
            font-size: 4rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .hero-img {
            object-fit: cover;
        }
        .home-card {
            margin: 6rem 0 0 0;
            padding: unset;
            max-height: 400px;
            &:first-child {
                margin-block-start: 6rem;
            }
            &:nth-child(odd) {
                flex-direction: row-reverse;
                img {
                    margin-inline-end: 6.5rem;
                }
                .home-btn {
                    align-self: flex-end;
                }
                h2,
                p {
                    text-align: right;
                }
            }
            &:nth-child(even) {
                flex-direction: row;
                img {
                    margin-inline-start: 6.5rem;
                }
                h2,
                p {
                    text-align: left;
                }
            }
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 21px;
            }
            .card-content1 {
                flex: 1;
            }
            img {
                width: 50%;
            }
        }
    }
}