.content-wrapper {
    .main-hero {
        position: relative;
        margin-block-end: 1rem;
    }
    .hero-btn {
        background-color: #5ac7f9;
        padding: 0.75rem;
        font-family: carme;
        color: white;
        font-size: 1.5rem;
        transition: .33s;
    }
    h1 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.5rem;
        color: #ccc;
    }
    .home-card {
        margin: 2rem 0;
        text-align: center;
        .home-btn {
            background-color: #5ac7f9;
            padding: 0.75rem;
            margin: 2rem 1rem;
            max-width: 50%;
            color: white;
            font-weight: bold;
        }
        .logo-name {
            color: #5ac7f9;
        }
    }
}

@media (min-width:830px) {
    .content-wrapper {
        .main-hero {
            max-height: 75vh;
            flex-direction: row;
            .hero-btn {
                position: absolute;
                font-size: 2rem;
            }
        }
        .home-btn {
            font-size: 1.2rem;
        }
        h1 {
            font-size: 6rem;
            left: 10vw;
            top: 7vw;
        }
        .hero-img {
            object-fit: cover;
        }
        .home-card {
            margin: 6rem 0 0 0;
            padding: unset;
            max-height: 400px;
            &:first-child {
                margin-block-start: 6rem;
            }
            &:nth-child(odd) {
                flex-direction: row-reverse;
                img {
                    margin-inline-end: 6.5rem;
                }
                .home-btn,
                .home-tag {
                    align-self: flex-end;
                }
                h2,
                p {
                    text-align: right;
                }
            }
            &:nth-child(even) {
                flex-direction: row;
                img {
                    margin-inline-start: 6.5rem;
                }
                h2,
                p {
                    text-align: left;
                }
            }
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 21px;
            }
            .card-content1 {
                flex: 2;
            }
            img {
                width: 50%;
            }
        }
    }
}

// .img1 {
//     background-image: url('https://imagizer.imageshack.com/img923/30/b0uf5w.png');
//     background-repeat: no-repeat;
//     // z-index: -200;
// }
// .img2 {
//     width: 680px;
// }
// .main-head {
//     width: 100%;
//     margin: 0 0 0 auto;
// }
// nav {
//     min-height: 10vh;
//     width: 60%;
//     .logo {
//         flex: 1 1 10rem;
//         p {
//             padding-top: 2rem;
//             color: #2c2c2c;
//         }
//     }
//     .links {
//         flex: 1 1 40rem;
//         >* {
//             font-size: 2rem;
//             padding: 10px;
//         }
//     }
// }
// .intro {
//     min-height: 90vh;
//     width: 90%;
//     margin: auto;
//     flex: 1;
//     font-family: bungee;
//     h2 {
//         font-size: 5rem;
//         padding-top: 2rem;
//         // font-family: bungee;
//     }
//     h3 {
//         font-size: 1.5rem;
//         margin-inline-start: 10px;
//     }
// }
// .intro-social span {
//     margin-inline-start: 10px;
// }
// .splash {
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     z-index: -1;
// }
// .active {
//     background: #2c2c2c;
//     color: white;
//     padding: 0.5rem 3rem;
//     border-radius: 2rem;
// }
// .main-footer {
//     width: 100%;
//     background: #063762;
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     font-family: bungee;
//     letter-spacing: 2px;
//     h3 {
//         padding: 1rem;
//         font-size: 2.2rem;
//     }
//     .social-links span {
//         font-size: 2.2rem;
//         padding-inline-start: 2rem;
//         padding-inline-end: 2rem;
//         cursor: pointer;
//     }
// }
// .me {
//     position: absolute;
//     right: 0;
//     top: 20%;
// }