body {
    --def: #5ac7f9;
    --inv: rgb(243, 243, 243);
}

.content-wrapper {
    position: relative;
    .main-hero {
        position: relative;
        margin-block-end: 1rem;
        // .hero-img {
        //     width: 100%;
        //     border-radius: 0 0 400px 200px;
        //     box-shadow: 0 0 20px 0 black;
        // }
        .home-btn {
            position: relative;
            padding: 1.4rem;
            font-size: 1.4rem;
            color: var(--inv);
            transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
            &:before,
            &:after {
                content: '';
                position: absolute;
                transition: inherit;
                z-index: -1;
            }
            &:after {
                bottom: 0;
                left: 0;
                height: 0;
                width: 100%;
                background: var(--inv);
            }
            &:before {
                top: 0;
                left: 50%;
                height: 100%;
                width: 0;
                border: 1px solid var(--inv);
                border-left: 0;
                border-right: 0;
            }
            &:hover {
                color: var(--def);
                transition-delay: .5s;
                &:before {
                    transition-delay: 0s;
                    left: 0;
                    width: 100%;
                }
                &:after {
                    background: var(--inv);
                    transition-delay: .35s;
                    top: 0;
                    height: 100%;
                }
            }
        }
    }
    .hero-screen {
        background-color: rgba(9, 9, 9, 0.26);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 0 400px 200px;
    }
    .hero-btn {
        background-color: #5ac7f9;
        padding: 1.75rem;
        font-family: carme;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        transition: .33s;
    }
    h1 {
        margin-block-start: 2rem;
        text-align: center;
        text-shadow: 0px -1px 1px black;
        font-size: 1.5rem;
        color: #5ac7f9;
    }
    .home-card {
        margin: 2rem 0;
        text-align: center;
        .home-btn {
            position: relative;
            padding: 1.4rem;
            font-size: 1.4rem;
            color: var(--def);
            transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
            &:before,
            &:after {
                content: '';
                position: absolute;
                transition: inherit;
                z-index: -1;
            }
            &:after {
                bottom: 0;
                left: 0;
                height: 0;
                width: 100%;
                background: var(--def);
            }
            &:before {
                top: 0;
                left: 50%;
                height: 100%;
                width: 0;
                border: 1px solid var(--def);
                border-left: 0;
                border-right: 0;
            }
            &:hover {
                color: var(--inv);
                transition-delay: .5s;
                &:before {
                    transition-delay: 0s;
                    left: 0;
                    width: 100%;
                }
                &:after {
                    background: var(--def);
                    transition-delay: .35s;
                    top: 0;
                    height: 100%;
                }
            }
        }
        .logo-name {
            color: #67818d;
        }
        .home-tag {
            background-color: rgb(205, 211, 217);
            margin: 1rem 0;
            padding: 1rem;
            font-size: 1.6rem;
            font-family: 'carme';
            border-radius: 3px;
            box-shadow: 0 0 10px #00000080;
            color: #3e4347;
        }
    }
}

@media (min-width:830px) {
    .content-wrapper {
        .main-hero {
            flex-direction: row;
            height: 45vh;
            width: 100%;
            svg {
                width: 100%;
                height: 100vh;
            }
            .hero-btn {
                position: absolute;
                font-size: 2rem;
                bottom: 50px;
                left: 30%;
                transform: translate(-50%, -50%);
                border-radius: 3px;
                box-shadow: 0 0 12px #0000008c;
                border: 1px solid grey;
            }
        }
        h1 {
            font-size: 4rem;
            text-align: left;
        }
        .hero-img {
            object-fit: cover;
        }
        .home-card {
            margin: 6rem 0 0 0;
            padding: unset;
            max-height: 400px;
            &:first-child {
                margin-block-start: 6rem;
            }
            &:nth-child(odd) {
                flex-direction: row;
                img {
                    margin-inline-start: 6.5rem;
                }
                .home-btn {
                    align-self: flex-start;
                }
                h2,
                p {
                    text-align: left;
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                img {
                    margin-inline-end: 6.5rem;
                }
                h2,
                p {
                    text-align: left;
                }
                .home-btn {
                    align-self: flex-end;
                }
            }
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 21px;
            }
            .card-content1 {
                flex: 1;
            }
            img {
                width: 50%;
            }
        }
    }
    .home-wap-gallery {
        position: absolute;
        margin: 3rem 0;
        grid-template-columns: repeat(3, minmax(14.5rem, 18rem));
        top: 0;
        right: 0;
        .wap-preview {
            cursor: pointer;
            background: #86919ba6;
            transform: scale(1.1);
            position: relative;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.45);
            border-radius: 8px 8px 0 0;
            height: 450px;
            color: #eee;
            font-size: 1.2rem;
            overflow: hidden;
            img {
                height: 100%;
                object-fit: cover
            }
            h3 {
                padding: 0.5rem;
                text-transform: capitalize;
                font-weight: 400;
                text-shadow: 1px 1px #00000057;
            }
            &:first-child {
                transform: translateX(25%) scale(.8) rotate(-6.57deg);
            }
            &:last-child {
                transform: translateX(-25%) scale(.85) rotate(6.57deg);
            }
        }
    }
}