.user-details-container {
    display: flex;
    justify-content: center;
}

.user-dashboard {
    min-height: 100vh;
    min-width: 20rem;
    z-index: 100;
    transition: all .3s ease-in-out;
    background-color: #8f9296d4;
    padding: 37px;
    padding: 0px;
    border-right: 1px solid #e6e9ec;
    .logo {
        padding: 2rem 0;
        text-align: center;
        img {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #d9d9d9;
            box-shadow: 0 0 17px 3px #ffffff45
        }
        .fa-user-circle {
            font-size: 7rem;
        }
    }
    .sidebar-modal-links {
        li {
            font-family: carme;
            border-bottom: 2px solid #909090;
            padding: 2rem;
            font-size: 1.2rem;
            text-align: left;
            color: white;
            font-weight: bold;
            &:first-child {
                border-top: 2px solid #909090;
                text-transform: capitalize;
            }
            span {
                margin-inline-start: 5px;
            }
            i {
                font-size: 1.2rem;
            }
        }
        .account-creation {
            display: inherit;
        }
        .upload-btn {
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}

.main-content-page {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.main-head {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding: 2rem;
    text-align: center;
    font-size: 2.2rem;
    border-bottom: 1px solid #d3d3d3;
}

.loading {
    position: absolute;
    bottom: 100px;
    width: 150px;
    top: 50%;
    left: 50%;
}

.seperator {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px;
}

// .add-wap-btn {
//     background: gainsboro;
//     position: relative;
//     box-shadow: 0 0 18px rgba(0, 0, 0, 0.45);
//     border-radius: 2px;
//     border: 1px dashed #555;
//     width: 100%;
//     height: 450px;
//     opacity: 0.7;
// }