.user-details-container {
    display: flex;
    height: calc(100vh - 65px);
    .main-container {
        width: calc(100vh - 26rem);
        flex: 1;
    }
}

.user-area-container {
    position: fixed;
    left: 0;
    height: calc(100vh - 52px);
    border-right: 1px solid #e6e9ec;
    .user-circle {
        border-radius: 50%;
        border: 3px solid white;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .user-info {
        text-align: center;
        margin-block-start: 10px;
        span {
            padding: 2rem;
            font-size: 20px;
            width: 100%;
            font-size: 1.3rem;
            border-bottom: 2px solid rgba(200, 200, 200, 0.4);
            &:first-child {
                border-top: 2px solid rgba(200, 200, 200, 0.4);
            }
        }
    }
}