@media(max-width:770px) {
    .site-header {
        .site-nav {
            .nav-links {
                display: none;
            }
        }
        .site-header-moto {
            height: 500%;
            .site-header-moto-saying {
                font-size: 30px !important;
            }
        }
        .site-header-menu {
            flex-direction: column;
            transform: translateY(110%);
            span {
                color: black !important;
            }
        }
    }
}

@media(max-width:400px) {
    .site-header {
        display: flex;
        flex-direction: column;
        margin: 0 0 59rem;
        .site-header-moto {
            transform: translateY(105%);
            padding: 0 1rem;
        }
        .site-nav {
            padding: 1rem;
        }
    }
    .site-footer {
        flex-direction: column;
    }
}

@media(max-width:640px) {
    .site-gallery-header {
        font-size: 30px !important;
    }
    .site-gallery-subheader {
        font-size: 30px !important;
        margin-top: -42px !important;
    }
    .site-gallery-inner-container {
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr)) !important;
        .site-gallery-inner-div {
            flex-direction: column;
            .site-gallery-inner-img {
                width: 100% !important;
            }
            .site-gallery-txt-container {
                width: 100% !important;
            }
            a {
                width: unset !important;
            }
            &:nth-child(3) {
                flex-direction: column-reverse;
            }
            &:nth-child(4) {
                flex-direction: column-reverse;
            }
        }
    }
}