    @media(max-width:770px) {
        .site-header {
            .site-nav {
                .nav-links {
                    display: none;
                }
            }
            .site-header-moto {
                height: 500%;
                .site-header-moto-saying {
                    font-size: 30px !important;
                }
            }
            .site-header-menu {
                flex-direction: column;
                transform: translateY(110%);
                span {
                    color: black !important;
                }
            }
        }
    }
    
    @media(max-width:400px) {
        .site-header {
            display: flex;
            flex-direction: column;
            margin: 0 0 59rem;
            .site-header-moto {
                transform: translateY(105%);
                padding: 0 1rem;
            }
            .site-nav {
                padding: 1rem;
            }
        }
    }