.app-header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fafafa;
    box-shadow: 1px 6px 20px #00000054;
    .logo {
        margin-inline-start: 1rem;
        span {
            font-family: bungee;
            font-size: 1.4rem;
        }
    }
    .nav-links {
        margin-inline-start: 10px;
        margin-inline-end: 5px;
        a {
            padding: 0.5rem 0.8rem;
            color: black;
            font-size: 1rem;
            border-radius: 10px;
            margin-inline-start: 0.8rem;
            margin-inline-end: 0.8rem;
        }
    }
    a.router-link-active {
        background: rgb(3, 169, 244);
        color: white;
    }
}