.app-header {
    background-color: #fafafa;
    width: 100%;
    height: 75px;
    box-shadow: 0px 0.5px 1px #00000054;
    .logo {
        cursor: pointer;
        font-family: bungee;
        margin-inline-start: 1rem;
        font-size: 1.5rem;
        // .fa-hammer {
        //     font-size: 3rem;
        // }
        .logo-span {
            color: #122a59;
        }
    }
    .nav-links {
        padding: 1rem;
        height: 100%;
        a {
            color: black;
            font-size: 1.2rem;
            padding: 0.5rem 0.8rem;
            margin: 0 0.8rem;
            border-radius: 10px;
            transition: opacity .3s ease;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    a.router-link-active {
        background: #124a76;
        color: white;
    }
}