.avatar-modal {
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    position: absolute;
    right: 0.8rem;
    top: 3.5rem;
    z-index: 10000;
    background: #fff;
    border-radius: 7px;
    background: #fff;
    z-index: 1000024;
    .info,
    .modal-links {
        padding: 1.3rem;
    }
    .info span {
        padding: 2px;
    }
    .seperator {
        border: 1px solid #eee9e9;
        width: 100%;
    }
    .modal-links>* {
        margin-block-start: 5px;
        margin-block-end: 5px;
    }
}