.backoffice-grid-msgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    .backoffice-card {
        position: relative;
        border: 1px solid rgb(194, 190, 190);
        padding: 3rem;
        .created-at {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
        }
        .remove-card {
            position: absolute;
            left: 0;
            top: 5px;
            font-size: 1rem;
            color: crimson;
        }
        .check-website {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0.5rem 1rem;
            background: #86919b;
            color: white;
        }
        span {
            display: inline-block;
        }
    }
}