        //unsplash search
        .unsplash-imgs-container {
            grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
            grid-gap: 0.6rem;
            justify-items: center;
            align-items: center;
            .unsplash-img-card {
                background: gainsboro;
                box-shadow: 0 0 4px black;
                border-radius: 5px;
                width: 6rem;
                height: 6rem;
                font-size: 1.2rem;
                position: relative;
                cursor: pointer;
            }
            .unsplash-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        
        .editor-link-container input {
            margin-block-end: 0.5rem;
        }
        
        .smooth-dnd-draggable-wrapper {
            cursor: grab;
        }
        
        .smooth-dnd-container {
            position: relative;
            min-height: 850px;
            min-width: 100%;
        }
        
        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            // transform: scale(0.9);
        }
        
        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0);
            // transform: scale(1);
        }