//unsplash search
.unsplash-imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-gap: 0.6rem;
    justify-items: center;
    align-items: center;
    margin-block-start: 1.5rem;
    .unsplash-img-card {
        background: gainsboro;
        box-shadow: 0 0 4px black;
        border-radius: 5px;
        width: 6rem;
        height: 6rem;
        font-size: 1.2rem;
        position: relative;
        cursor: pointer;
    }
    .unsplash-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.smooth-dnd-draggable-wrapper {
    cursor: grab;
}