.tab-container {
    display: flex;
    width: 100%;
    button {
        font-family: monospace;
        width: 50%;
        padding: 0.5rem 1rem;
        background: transparent;
        border: 0;
        outline: 0;
        text-transform: uppercase;
        padding: 1rem;
        &.selected {
            background: #2e4ead;
            color: white;
            border-radius: 5px;
        }
    }
}

.nav-item {
    margin-block-start: 10px;
}

.sample-preview {
    text-align: center;
    background: gainsboro;
    box-shadow: 0 0 4px black;
    border-radius: 5px;
    font-size: 1.2rem;
    position: relative;
    margin: 1rem;
    cursor: pointer;
    img {
        width: 100%;
        object-fit: cover
    }
    h3 {
        height: 2.5rem;
        text-transform: capitalize;
    }
}