.section-editor {
    .input-file {
        display: flex;
        justify-content: center;
        font-size: 38px;
        cursor: pointer;
        input {
            display: none;
        }
    }
}