.unsplash-search {
    .form-container {
        position: relative;
    }
    form {
        margin-block-end: 1rem;
        margin-block-start: 0.5rem;
        input {
            border: 1px solid #e5e5e5;
            outline: 0;
            padding: 0.5rem 1rem;
            box-shadow: 0px 0px 14px 3px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
            position: relative;
        }
        .btn-search {
            position: absolute;
            right: 48px;
            bottom: 4px;
            font-size: 17px;
        }
    }
    .unsplash-imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
        grid-gap: 0.6rem;
        justify-items: center;
        align-items: center;
        height: 850px;
        width: 250px;
        overflow-y: auto;
        gap: 1rem;
        padding: 1rem;
        .unsplash-img-card {
            background: gainsboro;
            box-shadow: 0 0 4px black;
            border-radius: 5px;
            width: 6rem;
            height: 5rem;
            font-size: 1.2rem;
            position: relative;
            cursor: pointer;
        }
        .unsplash-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}