.unsplash-search {
    .form-container {
        position: relative;
    }
    form {
        margin-block-start: 4rem;
        input {
            border: 1px solid #e5e5e5;
            outline: 0;
            padding: 0.5rem 1rem;
            box-shadow: 0px 0px 14px 3px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
        }
        .btn-search {
            position: absolute;
            right: 0;
            bottom: 3px;
            font-size: 17px;
        }
    }
}