.unsplash-search {
    .form-container {
        position: relative;
    }
    form {
        margin-block-end: 1rem;
        margin-block-start: 0.5rem;
        input {
            border: 1px solid #e5e5e5;
            outline: 0;
            padding: 0.5rem 1rem;
            box-shadow: 0px 0px 14px 3px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
        }
        .btn-search {
            position: absolute;
            bottom: 12px;
            right: 32px;
            font-size: 17px
        }
    }
    .unsplash-imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
        gap: 1rem;
        place-items: center;
        max-height: 850px;
        width: 250px;
        overflow-y: auto;
        padding: 1rem;
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 2px 4px 6px rgba(34, 32, 32, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2e4ead;
        }
        .unsplash-img-card {
            background: gainsboro;
            box-shadow: 0 0 2px black;
            border-radius: 2px;
            width: 5rem;
            height: 5rem;
            font-size: 1.2rem;
            position: relative;
            cursor: pointer;
        }
        .unsplash-img {
            height: 100%;
            object-fit: cover;
            border-radius: 2px;
        }
    }
}