.user-controls {
    position: sticky;
    height: 48px;
    width: 100%;
    background: #2e4ead;
    border-left: 1px solid #e6e9ec;
    font-family: carme;
    top: 0;
    z-index: 1002;
    button {
        color: white;
        background: #0076df;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}