.msg-container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    .msg-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 18px rgba(190, 185, 185, 0.45);
        border-radius: 3px;
        padding: 10px;
        position: relative;
        font-weight: bold;
        word-break: break-word;
        span {
            padding: 10px;
        }
        .msg {
            margin-block-end: 1.5rem;
        }
        .fa-comment-dots {
            font-size: 15px;
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .created-at {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 12px;
        }
    }
}

.no-msg-received {
    font-size: 2rem;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    font-family: carme;
    margin-bottom: 2rem;
    thead tr {
        background-color: #86919b;
        color: #fff;
        text-align: left;
        font-weight: bold;
    }
    th,
    td {
        padding: 12px 15px;
    }
    tbody tr {
        border-bottom: 1px solid #ddd;
        &:nth-of-type(even) {
            background: #f3f3f3;
        }
        &:last-of-type {
            border-bottom: 2px solid #86919b;
        }
        &.active-row {
            font-weight: bold;
            color: #86919b;
        }
    }
}