.wap-container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));
    grid-gap: 1.25rem;
    .wap-preview {
        background: gainsboro;
        position: relative;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.829);
        border-radius: 2px;
        width: 100%;
        height: 380px;
        font-size: 1.2rem;
        overflow: hidden;
        img {
            height: 21.25rem;
            object-fit: cover
        }
        h3 {
            padding: 0.5rem;
            text-transform: capitalize;
        }
        .wap-prev-controls {
            background-color: #222222c9;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 95px;
            transform: translateY(100%);
            opacity: 0;
            transition: .5s ease;
            z-index: -1;
            bottom: 0;
            a {
                color: white;
                font-size: 1.5rem;
            }
            small {
                font-size: 1.1rem;
                color: white;
            }
        }
        &:hover {
            .wap-prev-controls {
                transform: translateY(0);
                opacity: 1;
                z-index: 2;
            }
        }
    }
    .add-wap-btn {
        background: gainsboro;
        position: relative;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.829);
        border-radius: 2px;
        border: 1px dashed #555;
        width: 100%;
        height: 380px;
        opacity: 0.7;
        .fa-plus {
            font-size: 4rem;
            color: #555;
        }
        &:hover {
            opacity: 1;
        }
    }
}