* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: carme;
    color: rgb(63, 63, 63);
}

html {
    body.smooth-dnd-no-user-select {
        &.smooth-dnd-disable-touch-action {
            * {
                cursor: grabbing !important;
            }
        }
    }
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

input {
    outline: 0;
    border: 0;
}

// background: linear-gradient(0deg, #58caea, #4b45bd)
// background: linear-gradient(0deg, #e5a4ed, #7a5bf5);
//    background: #293241;
.fa-youtube {
    color: #FF0000;
}