* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: carme;
    color: rgb(63, 63, 63);
}

html {
    body.smooth-dnd-no-user-select {
        &.smooth-dnd-disable-touch-action {
            * {
                cursor: grabbing !important;
            }
        }
    }
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

// body ::-webkit-scrollbar {
//     width: 1em;
// }
// body ::-webkit-scrollbar-track {
//     box-shadow: inset 2px 4px 6px rgba(34, 32, 32, 0.3);
// }
// body ::-webkit-scrollbar-thumb {
//     background-color: #2e4ead;
// }