.big-btn {
    background-color: #2e4eade7;
    font-size: 2rem;
    padding: 0 1rem;
    border-radius: 2px;
    color: rgb(211, 220, 228);
    transition: .33s;
    &:hover {
        background-color: #2e4ead;
    }
}

.align-btn {
    padding: 1rem;
    font-size: 1.5rem;
    transition: 0.53s;
    &:hover {
        background-color: #ccc;
        border-radius: 12px;
    }
}

.site-video {
    position: relative;
    .iframe-btn {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 20px;
        z-index: 2000;
    }
}

.iframe-btn {
    background-color: #124a76;
    color: #f0f0f0;
    opacity: 0;
    padding: 0.5rem;
    transition: all 0.3s;
    z-index: 200000000;
}

.video-container:hover .iframe-btn {
    opacity: 1;
}

.map-container:hover .iframe-btn {
    opacity: 1;
}

.branch-btn {
    align-self: flex-end;
    position: absolute;
    top: 0;
    padding: 0.5rem;
    transition: 0.33s;
    border-radius: 50%;
    &:hover {
        background-color: #ccc;
    }
    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f303";
        font-size: 1rem;
    }
}