.big-btn {
    background-color: #2e4eade7;
    font-size: 2rem;
    padding: 0 1rem;
    border-radius: 2px;
    color: rgb(211, 220, 228);
    transition: .33s;
    &:hover {
        background-color: #2e4ead;
    }
}

.align-btn {
    padding: 1rem;
    font-size: 1.5rem;
    transition: 0.53s;
    &:hover {
        background-color: #ccc;
        border-radius: 12px;
    }
}

.site-video {
    position: relative;
    .iframe-btn {
        position: absolute;
        left: 5px;
        top: 0;
        font-size: 20px;
        z-index: 2000;
    }
}