.clean-list {
    list-style-type: none;
    padding: 0;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.place-center {
    place-items: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}